*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.App{
    height:100vh;
    box-shadow: inset 0px 0px 400px black;
    /* background-color:rgba(41, 19, 23, 0.774); */

    background:url('https://wallpaper.dog/large/20458115.jpg')  no-repeat center center fixed; 
    background-size: cover;
}


